ul {
  list-style: inside;
}

li {
  list-style-type: none;
  padding-left: 0;
}

li > a {
  color: #007bff;
}

.itemList > li {
  list-style-type: none;
  padding-left: 0;
}

label {
  font-weight: bold;
}